<%= link_to "Back", home_path %>

<table style="width:100%">
<caption><h1>Project Record</h1></caption>
<tr>
  <th>Project Name</th>
  <th>Status</th>
  <th>Deploying Date</th>
  <th>Update</th>
  <th>Delete</th>
</tr>
<% @projects.order(:id).each do |project| %>
<tr>
  <td><%= project.name %></td>
  <td><%= project.status %></td>
  <td><%= project.deploying_date %></td>
  <td><%= link_to "edit", project_path(project) , method: :put %></td>
  <td><%= link_to "Delete", project_path(project) , method: :delete, data: {confirm: 'Are you sure?'} %></td>
</tr>
<%end%>
</table>