<h1 style="margin-left: 39%;">Employee Entry</h1>

<%= form_for @employee do |f| %>
  <%= f.label :name, "Name:" %>
  <%= f.text_field :name%>
  <%= f.label :last_name, "Last Name:" %>
  <%= f.text_field :last_name %>
  <%= f.label :gender, "Gender: " %><br><br>
  <%= f.radio_button :gender, 'm' %>
  <%= f.label :gender_male, "Male" %>
  <%= f.radio_button :gender, 'f' %>
  <%= f.label :gender_female, "Female" %><br><br>
  <%= f.label :dob, "Date of birth:" %> <br><br>
  <%= f.date_field :dob %><br><br>
  <%= f.label :doj, "Date of joining:" %> <br><br>
  <%= f.date_field :doj %><br><br><br>
  <%= f.label :department_id, "Enter Department Id" %>
  <%= f.text_field :department_id %> 
  <%= f.submit "Create" %>
<% end %>

<a class="records" href="/employees">See previous records</a>





<!--

<script>function validateForm() {
  let name = document.forms["myForm"]["fname"].value;
  let  dob = document.forms["myForm"]["dob"].value;
  let doj = document.forms["myForm"]["doj"].value;
  if (name == "") {
    alert("Name must be filled out");
    return false;
  }
  var pattern = /^(0?[1-9]|1[0-2])[\/](0?[1-9]|[1-2][0-9]|3[01])[\/]\d{4}$/;
  if (dob == null || dob == "" || !pattern.test(dob)) {
      alert("Invalid date of birth");
      return false;
  }
  if (doj == null || doj == "" || !pattern.test(doj)) {
    alert("Invalid date of joining");
    return false;
  }
}

</script>

-->