<h1 style="margin-left: 39%;">Employee Entry</h1>

<%= form_for @employee, html: { name: 'myForm', onclick: 'return validateForm();' } do |f| %>
  <%= f.label :name, "Name:" %>
  <%= f.text_field :name%>
  <%= f.label :last_name, "Last Name:" %>
  <%= f.text_field :last_name %>
  <%= f.label :gender, "Gender: " %><br><br>
  <%= f.radio_button :gender, 'M' %>
  <%= f.label :gender_male, "Male" %>
  <%= f.radio_button :gender, 'F' %>
  <%= f.label :gender_female, "Female" %><br><br>
  <%= f.label :dob, "Date of birth:" %> <br><br>
  <%= f.date_field :dob %><br><br>
  <%= f.label :doj, "Date of joining:" %> <br><br>
  <%= f.date_field :doj %><br><br><br>
  <%= f.label :department_id, "Enter Department Name:" %>
  <%= f.select :department_id , Department.order(:id).ids.map {|i| [Department.find(i).name,i]}%> 
  <%= f.submit "Create" %>
<% end %>

<script>function validateForm() {
  let name = document.forms["myForm"]["employee[name]"].value;
  if (name == "") {
    alert("Name must be filled out");
    return false;
  }
}

</script>
