<a class="back" href ="/employee"><-Back</a>

<table style="width:100%">
<caption><h1>Employee Table</h1></caption>
<tr>
  <th>Id</th>
  <th>Firstname</th>
  <th>Lastname</th>
  <th>Gender</th>
  <th>Date Of Birth</th>
  <th>Date Of Joining</th>
  <th>Department Name</th>
</tr>
<% for i in @employees.ids %>
<tr>
  <td><%= i %> </td>
  <td><%= @employees.find(i).name %></td>
  <td><%= @employees.find(i).last_name %></td>
  <td><%= @employees.find(i).gender %></td>
  <td><%= @employees.find(i).dob %></td>
  <td><%= @employees.find(i).doj %></td>
  <td><%= @employees.find(i).department.name%></td>
</tr>
<%end%>
