<a class="back" href ="/employee"><-Back</a>

<table style="width:100%">
<caption><h1>Employee Table</h1></caption>
<tr>
  <th>Id</th>
  <th>Firstname</th>
  <th>Lastname</th>
  <th>Gender</th>
  <th>Date Of Birth</th>
  <th>Date Of Joining</th>
  <th>Department Name</th>
  <th>Update</th>
  <th>Delete</th>
</tr>
<% @employees.order(:id).ids.each do |i| %>
<tr>
  <td><%= i %> </td>
  <td><%= @employees.find(i).name %></td>
  <td><%= @employees.find(i).last_name %></td>
  <td><%= @employees.find(i).gender %></td>
  <td><%= @employees.find(i).dob %></td>
  <td><%= @employees.find(i).doj %></td>
  <% if  @employees.find(i).department %>
    <td><%= @employees.find(i).department.name%></td>
  <% else %>
    <td>To Be Deleted</td>
  <% end %>
  <td><a href="/employee/<%= i %>/edit">edit</a></td>
  <td><a data-confirm="Are you sure? You wanna delete data of <%= @employees.find(i).name %>" rel="nofollow" data-method="delete" href="/employee/<%= i %>/delete">delete</a></td>
</tr>
<%end%>