<!DOCTYPE html>
<html>
  <head>
    <title>EmployeeManagementSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="topnav" style="width:100%; border:2px solid black;">
  <a href="/home" style="padding:140px">Home</a>
  <a href="/employee" style="padding:140px"> <%= Employee%> </a>
  <a href="/department" style="padding:140px"> <%= Department%> </a>
  <a href="/project" style="padding:140px"> <%= Project%> </a>
  </div>
    <%= yield %>
  </body>
</html>
