<!DOCTYPE html>
<html>
  <head>
    <title>EmployeeManagementSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="navbar">
  <%= link_to "Home", home_path %>
  <div class="dropdown">
    <button class="dropbtn">Employee 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <%= link_to "Create", employee_path %>
      <%= link_to "Show Records", employees_path %>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Department
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
    <%= link_to "Create", department_path %>
    <%= link_to "Show Records", departments_path %>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Project
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
    <%= link_to "Create", project_path %>
    <%= link_to "Show Records", projects_path %>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Assign Projects
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
    <%= link_to "Create", assignment_path %>
    <%= link_to "Show Records", assignments_path %>
    </div>
  </div> 
</div>
    <%= yield %>
  </body>
</html>
