<!DOCTYPE html>
<html>
  <head>
    <title>EmployeeManagementSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="navbar">
  <a href="/home">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Employee 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/employee">Create</a>
      <a href="/employees">Show Records</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Department
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/department">Create</a>
      <a href="/departments">Show Records</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Project
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/project">Create</a>
      <a href="/projects">Show Records</a>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Assign Projects
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/assignment">Create</a>
      <a href="/assignments">Show Records</a>
    </div>
  </div> 
</div>
    <%= yield %>
  </body>
</html>
